# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# testing
/coverage

# production
/build
/dist
/docs

# misc
.DS_Store
*.log

# lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Rsbuild
.rsbuild
