@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ColfaxAIRegular";
    src: url("../public/ColfaxAIRegular.otf");
}
@font-face {
    font-family: "ColfaxAIBold";
    src: url("../public/ColfaxAIBold.otf");
}
.bg-grid-slate-400\/\[0\.05\] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(148 163 184 / 0.05)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

.bg-grid-slate-100\/\[0\.03\] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(241 245 249 / 0.03)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

.container {
    background-color: #f8f9fa;
    color: #212529;
}

.rotate-180 {
    transform: rotate(180deg);
}