@font-face {
  font-family: "ColfaxAIRegular";
  src: url("../public/ColfaxAIRegular.otf");
}

@font-face {
  font-family: "ColfaxAIBold";
  src: url("../public/ColfaxAIBold.otf");
}

/* Base Styles */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Background Grids */
.dashed-grid-paper {
  --grid-size: 30px;
  --grid-strength: 1px;
  --grid-dash: 10px;
  --grid-gap: 5px;
  --grid-color: rgba(255, 255, 255, 0.08); /* Light grid for dark base */
  --paper-color: var(--chakra-colors-bg);

  background-color: var(--paper-color);
  background-size:
    var(--grid-dash) var(--grid-dash),
    var(--grid-size) var(--grid-size);
  background-image:
    linear-gradient(
      to bottom,
      transparent var(--grid-gap),
      var(--paper-color) var(--grid-gap)
    ),
    linear-gradient(
      to right,
      var(--grid-color) var(--grid-strength),
      transparent var(--grid-strength)
    ),
    linear-gradient(
      to right,
      transparent var(--grid-gap),
      var(--paper-color) var(--grid-gap)
    ),
    linear-gradient(
      to bottom,
      var(--grid-color) var(--grid-strength),
      transparent var(--grid-strength)
    );
}

.dark .dashed-grid-paper,
._dark .dashed-grid-paper {
  --grid-color: rgba(0, 0, 0, 0.06); /* Dark grid for light mode */
  /* --paper-color handles itself via theme variable */
}
